.card-admin{
    text-align: center;
    border: solid #cc9900 3px;
    border-radius: 10px;
    width: 16em;
    padding: 1em;
    margin-bottom: 2em;
}

.card-admin img{
    width: 50px;
    align-items: center;
}

.card-admin p{
    margin-bottom: 2em;
    color: #000;
}

.card-admin h2, p{
    color: #000;
}

.campos{
    height: 10em;
}

.botao a{
    color: #cc9900;
    text-decoration: none;
    background-color: #000;
    border-radius: 5px;
    padding: 0.5em 1em;
}
