.positionWhats{
    position: fixed;
    top: 84%;
    left: 95%;
}

.positionWhats img{
    width: 5em;
}

@media (max-width: 738px){
    .positionWhats{
        left: 70%;
    }
    .positionWhats img{
        width: 4em;
    }
}

@media (max-width: 875px){
    .positionWhats{
        top: 88%;
        left: 92%;
    }
    .positionWhats img{
        width: 4em;
    }
}